body {
  background-color: lightskyblue;
}
p {
  color: orange;
  text-align: center;
  background-color: lightblue;
  padding: 50px;
}
h1 {
  text-align: center;
  padding: 20px;
  background-color: lightseagreen;
  border-radius: 20px;
}
h2 {
  text-align: center;
  padding: 20px;
  background-color: lightseagreen;
  border-radius: 20px;
}